@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&display=swap');
body{
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'EB Garamond', serif;
}
.sectionHeader {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

.skills__menu a {
    text-decoration: none;
    color: rgb(185, 42, 42)
}
.skills__menu a.active{
    color: rgb(0, 0, 0)
}
.skills__menu>ul{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.skills__menu>ul>li{
    min-width: 33%;
    text-align: center;
    font-size: 19px;
}
.skills__menu>ul>li a.active{
    color:rgb(43, 43, 43);
    font-weight: bold;
}

svg{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

#codeThinking{
  visibility: hidden;
}

.hello {
  height: 1000px;
  background-color: red;
}
.skills__container {
  margin-top: 60px;
}
.skills__menu{
  position: relative;
}

.skills__menu li {
  cursor: pointer;
}

.skills__menu .marker{
  position: absolute;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #000;
  bottom: -8px;
  transition: 0.5s;
  border-radius: 4px;
}
.skills__cover{
  width: 359px;
  margin: 9;
  padding: 0;
}

.skills__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  justify-items: center;
}

.skills__icons > img {
  height: 50px;
  justify-items: center;
  visibility: hidden;
}

@media(min-width: 450px){
  .skills__icons {
    grid-template-columns: repeat(4, 1fr);
  }
  .skills__icons > img {
  height: 60px;
}
}

@media(min-width: 1010px){
  .skills__icons{
    grid-template-columns: repeat(6, 1fr);
  }
  .skills__icons > img {
    height: 80px;
  }
}

.projects__list {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}
@media(min-width: 450px){
  .projects__list{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(min-width: 1010px){
  .projects__list{
    grid-template-columns: repeat(4, 1fr);
  }
}
.projects__single{
  position: relative;
  visibility: hidden;
  display: block;
  position: relative;
  width: 250px;
  height: 150px;
  background-size: cover;
}
.projects__single--shadow{
  position: absolute;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  width: 0px;
  height: 0px;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}
.projects__single--shadow>a{
  visibility: hidden;
  display: inline-block;
  width: 80px;
  height: 22px;
  font-size: 17px;
  color: #FFF;
}