@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');
body{
  font-family: 'Lato', sans-serif;
  color: #050505;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 19px;
  background-color: #000;;
}
#root {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5 {
  font-family: 'Bebas Neue';
  margin: 0;
  z-index: 1500;
}
h1{
  font-size: 70px;
}
h2{
  font-size: 46px;
}
.main__headers{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 5000;
  text-align: center;
}
.main__nav {
  position:fixed;
  width: 100%;
  z-index: 99999999;
  height: 73px;
  transition: .5s;

}
.main__nav--active{
  background-color: #ececec;
}
.main__nav > ul {
    position: absolute;
    right: 0;
    display: flex;
    margin: 0;
}
.main__nav > ul > li {
  display: block;
  list-style-type: none;
  padding: 25px;
}
section{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 20px;


}
.parallax{
  position: relative;
  overflow: hidden;
  height: 100vh;
}
#bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;

}
#planet {
  position: absolute;
  left: 230px;
  top: 150px;
  opacity: 0.6;
}
#claud1{
  position: absolute;
  left: 20px;
  top: 190px;
}
#claud2{
  position: absolute;
  right: 20px;
  top: 150px;
}
#jet{
  position: absolute;
  right: 30px;
  top: 130px;
  transform: scale(0.3);
}
.row{
  width: 100%;
}
.sectionHeader {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

.about{
  position: relative;
  color: #d4d4d4;
  min-height: 500px;
}
.about::after {
  content: '';
  position: absolute;
  background-image: url(./components/about/img/bg.jpeg);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(2px);
  opacity: 0.6;
}
.about > h2 {
  text-align: center;
  z-index: 100330;
}
.about > .description {
  background-color:rgba(75, 74, 74, 0.6);
  border: 2px solid rgb(192, 192, 192);
  padding: 20px;
}
.about > .description > p{
  visibility: hidden;
}
.skills {
  margin: 0;
  height: 600px;
  background-color: #A499B3;


}

.skills__menu>ul{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.skills__menu>ul>li{
    min-width: 33%;
    text-align: center;
    font-size: 19px;
}
svg{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

#codeThinking{
  visibility: hidden;
}

.hello {
  height: 1000px;
  background-color: red;
}
.skills__container {
  margin-top: 60px;
}
.skills__menu{
  position: relative;
}

.skills__menu li {
  cursor: pointer;
}

.skills__menu .marker{
  position: absolute;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #050505;
  bottom: -8px;
  transition: 0.5s;
  border-radius: 4px;
}
.skills__cover{
  width: 359px;
  margin: 9;
  padding: 0;
}

.skills__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  justify-items: center;
}

.skills__icons > img {
  height: 50px;
  justify-items: center;
  visibility: hidden;
}

.projects {
  background-color: #534B62;
  min-height: 450px;
}
.projects__list{
  display: flex;
  flex-wrap: wrap;
}
.projects__single {
  position: relative;
  visibility: hidden;
  width: 95%;
  height: 194px;
  margin-right: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  background-size: cover;
  margin-bottom: 20px;
}

.projects__details{
  visibility: hidden;
  position: absolute;
  color: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.9)
}
.projects__details > h3 {
  text-align: center;
  margin-top: 6px;
}
.projects__details > p {
  padding: 5px;
}

.contact {
  background-color: #1d1a1a;
  color: #d4d4d4;
  min-height: 300px;
}
.contact > h2{
  text-align: center;
}
@media(min-width: 450px){
  .projects__single {
    width: 248px;
    height: 126px;
  }
  .skills__icons {
    grid-template-columns: repeat(4, 1fr);
  }
  .skills__icons > img {
    height: 60px;
  }
}
@media(min-width: 764px){
  .projects__single {
    width: 305px;
    height: 155px;
  }
}

@media(min-width: 1010px){
  .projects__single {
    width: 292px;
    height: 194px;
  }
  .skills__icons{
    grid-template-columns: repeat(6, 1fr);
  }
  .skills__icons > img {
    height: 80px;
  }
}







.example{
  height: 100vh;
}